[submodule "Feed"]
	path = Feed
	url = https://github.com/sarang628/Feed.git
[submodule "Repository"]
	path = Repository
	url = https://github.com/sarang628/Repository.git
[submodule "TorangCore"]
	path = TorangCore
	url = https://github.com/sarang628/TorangCore.git
